* {
    -background-color: #232323;
    -text-color: white;
}

.background {
    -fx-background-color: -background-color;
}

.title {
    -fx-font-size: 42px;
    -fx-font-weight: bold;
    -fx-text-fill: -text-color;
}

.subtitle {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: -text-color;
}

.text {
    -fx-text-fill: -text-color;
}

.vbox {
    -fx-spacing: 20px;
    -fx-alignment: center;
    -fx-padding: 20px;
}
